@import 'reset.css';

/*HEADER*/

header {
    background-color: white;
    padding-bottom: 110px;
    box-shadow: 0 3px 3px lightgrey;
}

.logo {
    float: left;
    width: 80px;
    margin: 15px 5%;

}

.lien {
    float: left;
    text-decoration: none;
    font-size: 1.3em;
    cursor: pointer;
}

.connexionHeader:hover {
}

.inscriptionHeader:hover {
}

.connexionHeader {
    margin-left: 60%;
    margin-top: 40px;
    color: #30628f;
}

.inscriptionHeader {
    margin-left: 3%;
    margin-top: 30px;
    border: 2px solid #30628f;
    padding: 10px 15px;
    border-radius: 2px;
    color: #30628f;
}


/*FOOTER*/

footer {
    padding-bottom: 40px;
    box-shadow: 0 -4px 3px lightgrey;
}

.lienf {
    float: left;
    font-family: "Bellota Text";
    color: white;
    text-decoration: none;
    border: 1px solid transparent;
    padding: 8px 25px;
    border-radius: 20px;
}

.navbarFooter {
    margin-left: 20%;
    padding-top: 30px;
}

.contact, .conditions, .mentions {
    margin-left: 10%;
}

.home {
    margin-left: 3%;
    background-color: #78A0FF;
}

.contact {
    background-color: #8BAE00;
}

.conditions {
    background-color: #FFA93C;
}

.mentions {
    background-color:  #de91e4  ;
}


